<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--FactoryBean创建复杂对象-->
    <!--配置ConnectionFactoryBean-->
    <bean id="conn" class="com.wyl.factorybean.ConnectionFactoryBean">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://192.168.83.2:3306/sunds"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123456"></property>
    </bean>

    <!--实例工厂创建复杂对象-->
    <bean id="connectionFactroy" class="com.wyl.factorybean.ConnectionFactroy"></bean>
    <bean id="conn1" factory-bean="connectionFactroy" factory-method="getConnection"></bean>

    <!--静态工厂创建复杂对象-->
    <bean id="conn2" class="com.wyl.factorybean.StaticConnectionFactory" factory-method="getConnection"></bean>


    <!--Spring工厂简单对象的创建次数 singleton 默认值，只创建一次   prototype每次都创建新的对象-->
    <bean id="user" scope="prototype" class="com.wyl.basic.User"></bean>

    <bean id="product" class="com.wyl.life.Product" scope="prototype" init-method="myInit">
        <property name="name" value="张三"></property>
    </bean>
</beans>